/* -------------------------------------
    BUTTONS
------------------------------------- */

// Primary call to action button
.emailButton {
  border-radius: $btn-br;
  background-color: $primary-color;
}
.emailButtonContent {
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
}
.emailButtonContent a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
// Secondary button
.btn-secondary {
  table td {
    background-color: transparent;
  }
  a {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
  }
}