.emailButton {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: $btn_br;
  background-color: $primary-color;
  width: 60%;
}
.emailButtonContent {
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  a {
    color: $btn-text-primary-color;
    font-size: 21px !important;
    line-height: auto;
    font-weight: normal;
    text-decoration: none;
  }
}
.btn-secondary {
  background-color: $secondary-color !important;
  a {
    background-color: transparent;
    border-color: transparent;
    color: $btn-text-secondary-color !important;
    font-size: 14px !important;
    line-height: auto;
  }
  .emailButtonContent {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}