/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

//colors

$color_scorpion: #565656;
$color_curious_blue: #348EDA;
$color_silver: #cccccc;
$white: #ffffff;

// my variables
$body_text_color: $color_scorpion;
$link_text_color: $color_curious_blue; 



//fonts family
$font_0: 'Open Sans';
$font_1: Helvetica;
$font_2: sans-serif;
$sans_serif: $font_0, $font_1, $font_2;
//
$padding: 10px; // For consistent padding
$grey: #CCCCCC; // Background color
$width: 580px; // Width of the content area
$color-content: #FFFFFF; // Content Background Color
$color-footer: #CCCCCC; // Footer Background Color;
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$primary-color: #348EDA; // Primary color for buttons and links
$secondary-color: #FF9900; // Secondary color for buttons and links


