/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
// ALWAYS CHANGE gruntfile.js -> folder="jira task nr"
//colors (see here to find and rename a color: http://chir.ag/projects/name-that-color/)
$color_scorpion: #565656;
$color_curious_blue: #348EDA;
$color_silver: #cccccc;
$white: #ffffff;
$color_cornflower_blue: #6195ED;
$color_tangerine: #F09700;


// containers color
$full_background_color: $color_silver;
$footer_background_color: $color_scorpion;
$main_background_color:$white;

// containers width
$width: 580px; // Width of the content area

// padding
$padding: 12px; // For consistent padding

//fonts family
$font_0: 'Open Sans';
$font_1: Helvetica;
$font_2: sans-serif;
$sans_serif: $font_0, $font_1, $font_2;

//fonts color
$body_text_color: $color_scorpion;
$link_text_color: $color_curious_blue; 
$subtitle_text_color: $color_curious_blue;
$h1_text_color: $color_curious_blue;
$h2_text_color: $color_curious_blue;
$h3_text_color: $color_curious_blue;
$h4_text_color: $color_curious_blue;
$footer_text_color: $white;

// call to action
$primary-color: $color_tangerine; // Primary color for buttons and links
$secondary-color: $color_cornflower_blue; // Secondary color for buttons and links
$btn-text-primary-color: $white; // Primary color for text
$btn-text-secondary-color:  $white; // Secondary color for text 
$btn-br: 5px; // Border radius 

// extra
$br: 3px; // Border radius




