/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 0px; // For consistent padding
$grey: #CCCCCC; // Background color
$color-content: #FFFFFF; // Content Background Coloro
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$primary-color: #348eda; // Primary color for buttons and links
$font-color: #565656; // Default font color