/* -------------------------------------
RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- 
/*IPAD STYLES*/
@media only screen and (max-width:640px) {
  a {
    &[href^="tel"], &[href^="sms"] {
      text-decoration: none;
      color: #0a8cce;      /* or whatever your want */
      pointer-events: none;
      cursor: default;
    }
  }
  table[class="hidden"] {
    display: none !important;
  }
  .mobile_link a {
    &[href^="tel"], &[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
    }
  }
  table {
    &[class=container] {
      width: 440px !important;
      text-align: center !important;
    }
    &[class=content] {
      width: 420px !important;
      text-align: center !important;
    }
  }
  img {
    &[class=colimg2] {
      width: 300px !important;
      height: 240px !important;
    }
    &[class=banner] {
      width: 440px !important;
      height: 200px !important;
    }
  }
  td[class=mobile-hide], table[class=mobile-hide] {
    display: none !important;
  }
}

/*IPHONE STYLES*/
@media only screen and (max-width:480px) {
  a {
    &[href^="tel"], &[href^="sms"] {
      text-decoration: none;
      color: #0a8cce;      /* or whatever your want */
      pointer-events: none;
      cursor: default;
    }
  }
  table[class=tableImage] {
    background-image: none !important;
  }
  td[class="hidden"] {
    display: none !important;
  }
  .mobile_link a {
    &[href^="tel"], &[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
    }
  }
  table {
    &[class=container] {
      width: 280px !important;
      text-align: center !important;
    }
    &[class=tableImage] {
      width: 240px !important;
    }
    &[class=content] {
      width: 260px !important;
      text-align: center !important;
    }
  }
  img {
    &[class=banner] {
      width: 280px !important;
      height: 150px !important;
    }
    &[class=logo] {
      width: 230px !important;
      height: 43px !important;
    }
    &[class=colimg2] {
      width: 260px !important;
      height: 224px !important;
    }
  }
  td[class=mobile-hide], table[class=mobile-hide] {
    display: none !important;
  }
  td[class=padding-bottom25] {
    padding-bottom: 25px !important;
  }
  table[class=emailButton] {
            max-width:600px !important;
            width:100% !important;
        }

  table[class=emailButton]  a {
            display:block !important;
            font-size:18px !important;
        }

}
  