/* -------------------------------------
RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
table[class=body] {
  @media only screen and (max-width:$width+40) {
    // Type
    h1, h2, h3, h4 {
      font-weight: 600 !important;
    }
    h1 {
      font-size: 22px !important;
    }
    h2 {
      font-size: 18px !important;
    }
    h3 {
      font-size: 16px !important;
    }
    // Spacing
    .content, .wrapper {
      padding: 0px !important;
    }
    .container {
      padding: 0 !important;
      width: 100% !important;
    }
    // Buttons
    .btn table {
      width: 100% !important;
    }
    // Various Fixing
    a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce;/* or whatever your want */
      pointer-events: none;
      cursor: default;
    }
    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
    }
    // Container Resizer
    table[class=main] {
      width: 440px !important;
      text-align: center !important;
      border: 1px solid red;
    }
    table[class=main] {
      width: 420px !important;
      text-align: center !important;
      border: 1px solid orange;
    }
  }
  @media only screen and (max-width:480px) {
    // Container Resizer
    table[class=main] {
      width: 280px !important;
      text-align: center !important;
      border: 1px solid red;
    }
    table[class=devicewidthinner] {
      width: 280px !important;
      text-align: center !important;
      border: 1px solid orange;
    }
  }
}