/* -------------------------------------
TYPOGRAPHY
------------------------------------- */

//@extend-elements
//original selectors
//h1, h2, h3, h4
%extend_1 {
  color: $color_curious_blue_approx !important;
  // font-family: $font_0, $font_1, $font_2;
  margin: 0 !important;
  font-weight: normal;
  line-height: 1.2;
}

//original selectors
//p, ul, ol
%extend_2 {
  // font-family: $font_0, $font_1, $font_2;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
}


body {
  color: $color_chicago_approx;
  font-family: $sans_serif;
  // font-family: sans-serif;
}
.body {
  color: $color_chicago_approx;
  font-family: $sans_serif;
}
h1 {
  @extend %extend_1;
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300;
}
h2 {
  @extend %extend_1;
  font-size: 24px;
}
h3 {
  @extend %extend_1;
  font-size: 18px;
}
h4 {
  @extend %extend_1;
  font-size: 12px;
  font-weight: 500;
}
p {
  @extend %extend_2;
  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}
ul {
  @extend %extend_2;
  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}
ol {
  @extend %extend_2;
  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}
a {
  color: $color_curious_blue_approx;
  text-decoration: underline;
  &.read-more {
    color: $color_curious_blue_approx !important;
    text-decoration: none !important;
    line-height: 2em;
    padding-bottom: 5px;
    padding-top: 0;
    margin: 0;
    text-align: left;
  }
}
.subtitle {
  font-family: $font_0, $font_1, $font_2;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: $color_chicago_approx;
  padding-bottom: 6px;
}
.col-copy {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}
.padding-copy {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.inline-table .col-copy {
  font-size: 14px;
  line-height: 1.2 !important;
}