/* -------------------------------------
TYPOGRAPHY
------------------------------------- */



body {
  color: $body_text_color;
  font-family: $sans_serif;
  // font-family: sans-serif;
}
.body {
  color: $body_text_color;
  font-family: $sans_serif;
}
h1 {
  color: $h1_text_color !important;
  // font-family: $font_0, $font_1, $font_2;
  margin: 0 !important;
  line-height: 1.2;
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300;
}
h2 {
  color: $h2_text_color !important;
  // font-family: $font_0, $font_1, $font_2;
  margin: 0 !important;
  font-weight: normal;
  line-height: 1.2;
  font-size: 24px;
}
h3 {
  color: $h3_text_color !important;
  // font-family: $font_0, $font_1, $font_2;
  margin: 0 !important;
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
}
h4 {
  color: $h1_text_color !important;
  // font-family: $font_0, $font_1, $font_2;
  margin: 0 !important;
  font-weight: normal;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 500;
}
h1 span, h2 span, h3 span, h4 span {
  color: $h1_text_color !important;
  // font-family: $font_0, $font_1, $font_2;
  margin: 0 !important;
  font-weight: normal;
  line-height: 1.2;
}
.col_footer h4 {
  color: $footer_text_color !important;
}

p {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
  li {
    list-style-position: inside;
    margin-left: 5px;

  }
}
ul {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}
ol {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}
a {
  color: $link_text_color;
  text-decoration: underline;
  &.read-more {
    color: $link_text_color !important;
    text-decoration: none !important;
    line-height: 2em;
    padding-bottom: 5px;
    padding-top: 0;
    margin: 0;
    text-align: left;
  }
}
.subtitle {
  font-family: $font_0, $font_1, $font_2;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: $subtitle_text_color;
  padding-bottom: 6px;
}
.col-copy {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}
.padding-copy {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.inline-table .col-copy {
  font-size: 14px;
  line-height: 1.2 !important;
}