---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <!-- MAIN BLOCK (devicewidth vs devicewidthinner) -->
  <table class="backgroundTable">
    <tbody>
      <tr>
        <td>
          <table width="600" align="center" cellpadding="0" cellspacing="0" border="0" class="main">
            <tbody>
              <tr>
                <td>
                  <!-- TEXT CONTENT TABLE -->
                  <table cellpadding="10" align="center">
                    <tbody>
                      <tr>
                        <td>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- END OF TEXT CONTENT TABLE -->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- END   OF MAIN BLOCK -->
</div>