---
layout: default.hbs
subject: myStandardTemplate
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
        <!-- Start of header -->
        <table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" align="center">
            <tbody>
                <tr>
                    <td>
                       
                                        <table width="600" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td align="center" valign="middle">
                                                        <!-- spacing -->
                                                        <!-- end of spacing -->
                                                        <!-- logo -->
                                                        <table  align="left" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td   valign="midddle" align="center">
                                                                        <div class="imgpop">
                                                                            <a target="_blank" href="http://www.bestbusinessoffers.co.uk/kpmg-accounting-software">
                                                                            <img src="https://s3.amazonaws.com/image_host/email_assets/2015-10-02_ai/aae.png" align="left" alt="ApprovedAutoEnrolment" width="280" border="0"  height="auto" style="font-family:arial, sans-serif;text-align:left; display:block; border:none; outline:none; text-decoration:none; font-size:17px; line-height:1.2;color:#565656;">
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- end of logo -->
                                                        <!-- spacing -->
                                                        <table width="30" height="10" align="left" border="0" cellpadding="0" cellspacing="0" class="mobile-hide" >
                                                            <tbody>
                                                                <tr>
                                                                    <td  style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- end of spacing -->
                                                        <!-- logo -->
                                                        <table width="140" align="left" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #565656">In partnership with</td>
                                                                </tr>
                                                                <tr>
                                                                    <td  height="40" align="center" valign="top">
                                                                        <div class="imgpop">
                                                                            <a target="_blank" href="http://www.bestbusinessoffers.co.uk/kpmg-accounting-software"><img src="https://s3.amazonaws.com/image_host/email_assets/2015-10-02_ai/now.png" align="left" alt="Now: Pensions" border="0" width="60" height="auto" style="font-family:arial, sans-serif;text-align:left; display:block; border:none; outline:none; text-decoration:none; font-size:12px; line-height:1.2;color:#00AFEC;">
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- end of logo -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                 
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of Header -->
        <!-- Start of main-banner -->
        <table cellpadding="0" cellspacing="0" border="0" height="300" width="100%" bgcolor="#EDE5D2">
            <tr>
                <td background="https://s3.amazonaws.com/image_host/email_assets/2015-10-02_ai/bkgn3.jpg" color="#222222" valign="top" style="background-repeat:no-repeat;background-position:left top;">
                    <!--[if gte mso 9]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" align="left" stroke="false" style="mso-width-percent:1000;height:390px;">
                        <v:fill type="tile" src="https://s3.amazonaws.com/image_host/email_assets/2015-10-02_ai/bkgn3.jpg" color="#222222" />
                        <v:textbox inset="0,0,0,0">
                            <![endif]-->
                            <div>
                                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
                                    <tbody>
                                        <tr>
                                            <td valign="bottom" >
                                                <table width="460" cellpadding="0" cellspacing="0" border="0" align="right" class="devicewidthinner">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="bottom">
                                                                <table  align="center" border="0" cellpadding="0" cellspacing="0" >
                                                                    <tbody>
                                                                        <!-- Spacing -->
                                                                        <tr>
                                                                            <td height="25" style="text-align:left; font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                        </tr>
                                                                        <!-- Spacing -->                                                                                                     
                                                                        <tr>
                                                                            <td style="text-align:left !important;">
                                                                                <div class="fadeInDown">
                                                                                    <h1 style="margin: auto !important; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:300 ; font-size: 31px !important; color: #565656; text-align:left; line-height:1.1;">Get A SuperFree Quote and Enroll the Same Day</h1>

                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- Spacing -->
                                                                        <tr>
                                                                            <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                        </tr>
                                                                        <!-- Spacing -->    
                                                                        <!-- button -->
                                                                        <tr>
                                                                            <td align="left">
                                                                                <div class="fadeInDown2">
                                                                                    <table height="30" width="275" align="left" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="100%" align="center" valign="middle" height="60" style=" background-color:orange; width:100%;  background-clip: padding-box;font-size:21px; line-height:26px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;  color:#ffffff; font-weight: 300; padding-left:18px; padding-right:18px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
                                                                                                    <span style="color: #ffffff; font-weight: 300;">
                                                                                                    <a style="font-weight:200; color: #ffffff; text-align:center;text-decoration: none;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;  " href="http://quotes.approvedautoenrolment.co.uk/now-pensions">COMPARE SERVICES</a>
                                                                                                    </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- /button -->
                                                                        <!-- Spacing -->
                                                                        <tr>
                                                                            <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                        </tr>
                                                                        <!-- Spacing -->                                         
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--[if gte mso 9]>
                        </v:textbox>
                    </v:rect>
                    <![endif]-->
                </td>
            </tr>
        </table>
        <!-- End of main-banner -->
        <!-- Start of Plain Text -->
        <table width="100%"  bgcolor="#F5F5F5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" align="center">
            <tbody>
                <tr>
                    <td align="center">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" bgcolor="#F5F5F5">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidthinner">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="15" style="text-align:left; font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>
                                                <!-- Spacing -->    
                                                <tr>
                                                    <td style="text-align:left !important;">
                                                        <h1 style="margin: auto !important; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:bold; font-size: 24px !important; color: #565656; text-align:left; line-height:1.5; border-bottom:1px solid #565656 !important;">What Are The Benefits</h1>
                                                    </td>
                                                </tr>
                                                <!-- V Spacing -->
                                                <tr>
                                                    <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>
                                                <!-- End of V Spacing -->
                                                <!-- Plain Text -->
                                                <tr>
                                                    <td align="center" valign="bottom">
                                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table border="0" cellspacing="0" cellpadding="10" width="100%">
                                                                            <tr>
                                                                                <td valign="top" width="25"><img src="https://s3.amazonaws.com/image_host/email_assets/2015-07-22_kpmg/check.png" width="20" height="20" alt="&#10004;" style="color:#00AFEC;" /></td>
                                                                                <td   width="100%" style="font-family: Helvetica, arial, sans-serif; font-weight:100; font-size: 16px; color: #565656; text-align:left; line-height: 1.1;">A high quality, low cost pension with no hidden fees</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td  valign="top"  width="25"><img src="https://s3.amazonaws.com/image_host/email_assets/2015-07-22_kpmg/check.png" width="20" height="20" alt="&#10004;" style="color:#00AFEC;" /></td>
                                                                                <td   width="100%" style="font-family: Helvetica, arial, sans-serif; font-weight:100; font-size: 16px; color: #565656; text-align:left; line-height: 1.3;">Easy to understand materials for employees                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"  width="25"><img src="https://s3.amazonaws.com/image_host/email_assets/2015-07-22_kpmg/check.png" width="20" height="20" alt="&#10004;" style="color:#00AFEC;" /></td>
                                                                                <td   width="100%" style="font-family: Helvetica, arial, sans-serif; font-weight:100; font-size: 16px; color: #565656; text-align:left; line-height: 1.3;">Standard file integration with most payroll systems                           </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td  valign="top" width="25"><img src="https://s3.amazonaws.com/image_host/email_assets/2015-07-22_kpmg/check.png" width="20" height="20" alt="&#10004;" style="color:#00AFEC;" /></td>
                                                                                <td   width="100%" style="font-family: Helvetica, arial, sans-serif; font-weight:100; font-size: 16px; color: #565656; text-align:left; line-height: 1.3;">Access to the employer portal that puts you in control</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td  valign="top" width="25"><img src="https://s3.amazonaws.com/image_host/email_assets/2015-07-22_kpmg/check.png" width="20" height="20" alt="&#10004;" style="color:#00AFEC;" /></td>
                                                                                <td   width="100%" style="font-family: Helvetica, arial, sans-serif; font-weight:100; font-size: 16px; color: #565656; text-align:left; line-height: 1.3;">Step by step guide to walk you through the process</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td  valign="top" width="25"><img src="https://s3.amazonaws.com/image_host/email_assets/2015-07-22_kpmg/check.png" width="20" height="20" alt="&#10004;" style="color:#00AFEC;" /></td>
                                                                                <td   width="100%" style="font-family: Helvetica, arial, sans-serif; font-weight:100; font-size: 16px; color: #565656; text-align:left; line-height: 1.3;">Choice of contribution structures    </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!-- End Plain Text -->
                                                <!-- V Spacing -->
                                                <tr>
                                                    <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>
                        <tr>
                                                    <td style="text-align:left !important;margin: auto !important; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;  font-size: 16px !important; color: #565656; text-align:left; line-height:1.5; ">
                                                       The new auto enrolment legislation requires all employers to automatically enrol some or all members of their workforce. Your staging date determines when this law comes into effect for your business. The earlier you start to prepare, the smoother the transition will be!
                                                    </td>
                                                </tr>
                              <tr>
                                                    <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>                                              <!-- End V Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of Plain Text -->        
        <!-- Start Main -->
        <table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" align="center">
            <tbody>
                <tr>
                    <td align="center">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" bgcolor="#FFFFFF">
                            <tbody>
                                <tr>
                                    <td width="100%" align="center">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td align="center">
                                                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                                            <tbody>
                                                                <!-- button -->
                                                                <tr>
                                                                    <td align="center">
                                                                        <table height="30" width="95%" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="100%" align="center" valign="middle" height="60" style=" background-color:orange; width:100%;  background-clip: padding-box;font-size:21px; line-height:26px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;  color:#ffffff; font-weight: 300; padding-left:18px; padding-right:18px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;">
                                                                                        <span style="color: #ffffff; font-weight: 300;">
                                                                                        <a style="font-weight:200; color: #ffffff; text-align:center;text-decoration: none;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;  " href="http://quotes.approvedautoenrolment.co.uk/now-pensions">COMPARE SERVICES</a>
                                                                                        </span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <!-- /button -->
                                                                <!-- spacing -->
                                                                <tr>
                                                                    <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                                                </tr>
                                                                <!-- End of spacing -->
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end of full text -->
        <!-- Start of Postfooter -->
        <table width="100%" bgcolor="#000000" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" align="center">
            <tbody>
                <tr>
                    <td align="center">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" bgcolor="#000000" >
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 14px;color: #FFFFFF">Copyright ©2015 | Approved index is a Division of MVF</td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td width="100%" height="20"></td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- Spacing -->
                                <tr>
                                    <td  height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                </tr>
                                <!-- Spacing -->
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of postfooter -->
        <!-- ANALYTICS -->
        <!-- END ANALYTICS -->