<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
        <!-- SPECIAL FONT FROM GOOGLE API -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <!--[if mso]>
        <style type=”text/css”>
            .body {
            font-family: Helvetica, Arial, sans-serif;
            }
        </style>
        <![endif]-->
        <!-- END OF SPECIAL FONT FROM GOOGLE API -->
        <!-- END OF HEAD -->
</head>

<body>
{{ body }}
</body>
</html>
